<% provide(:title, "About") %>
<h1>About</h1>
<p>
  This page is dedicated to my project using Ruby on Rails.  It is quite simple, 
  and less than I intended to publish, but to become proficient with Rails, 
  I will need to spend considerably more time on it.  Instead of a user database, I have
  created a basic <%= link_to 'Game Inventory Database', new_inventory_path %>.  I was slightly inspired by Adams Rails project,
  which looked phenomenal.
</p>