<% provide(:title, "About") %>
<h1>About</h1>
<p>
  This page is dedicated to my project using Ruby on Rails.  It is quite simple, 
  and less than I intended to publish, but to become proficient with Rails, 
  I will need to spend considerably more time on it.  Instead of a user database, I have
  created a basic <%= link_to 'Game Inventory Database', new_inventory_path %>.  I was slightly inspired by Adams Rails project,
  which looked phenomenal.
</p>

<h1>A little about me</h1>
<p>
  I am currently in pursuit of two associates’ degree's here at Linn-Benton Community College.  
  With Winter term coming to a close, I have two classes to take in the Spring and three classes in the Fall and I will be all done.
  I will have achieved my Network and Systems Administration and Web and Database Technology degrees!  Winter term was quite challenging for me,
  it has been some time since I was last attending school.  I suppose it took me so long, because I was afraid of possible failure.  However, I stuck
  with it this term, and gave it my best effort.  Even though work continually consumed my spare time, I found that with a more effective time
  management system, I was able to prevail.
</p><br />

<center><%= link_to image_tag("focus.jpg", alt: "Ford Focus ST"), 'http://www.focusst.org' %></center><br />

<p>The above image is a link to one of the top Ford Focus ST Forums in the United States.  
Car's have always been a huge passion of mine.  I have been learning quite a bit about the car modification scene over the last year.  
It;s a hell of a lot of fun and really, really expensive.  It's totally worth it. :D</p>