<% provide(:title, 'Contact') %>
<h1>Contact</h1>
<center><p>
Please feel free to contact me via Gmail or Facebook.  
</p><br />

<%= link_to image_tag("gmail.png", alt: "gmail"), 'mailto:scott.russell.1812@mail.linnbenton.edu' %><br />
<%= link_to image_tag("fb.png", alt: "Facebook"), 'https://www.facebook.com/scott.russell.54772' %></center>