<h1>Welcome</h1>

<p>
    Thank you for visiting my site, developed mostly using Ruby on Rails!  There are many things to come, but for the moment, things are kept close to the basics.
</p>
<center><%= link_to image_tag("rubyonrails.jpg", alt: "Rails logo"), 'https://www.railstutorial.org/book' %></center><br />
<p>
    If you would like to learn Michael Hartl's way of teaching Ruby on Rails, click the banner to be teleported directly to his online book tutorial!
</p>