<footer class="footer">
  <small>
    Visit <a href="http://www.gamespot.com">Gamespot</a> for the latest video game news! | 
    Page created by <a href="https://www.facebook.com/scott.russell.54772">Scott Russell</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
      <li><a href="http://news.railstutorial.org/">Rails News</a></li>
    </ul>
  </nav>
</footer>