<header class="navbar navbar-fixed-top navbar-inverse">
    <div class="container">
      <%= link_to "Project App", root_path, id: "logo" %>
      <nav>
        <ul class="nav navbar-nav navbar-right">
          <li><%= link_to "Home",   root_path %></li>
          <li><%= link_to "Add Game",   new_inventory_path %></li>
          <li><%= link_to "Current Inventory",   index_path %></li>
        </ul>
      </nav>
    </div>
</header>